* {
  box-sizing: border-box;
}

.container
{
  display: flex;
  height: 600px
}
.sideBar
{
  border-right: 1px solid #ddd;
  min-width: 250px;
  overflow: scroll;
  border-bottom: 1px solid #ddd;
}
.photoGridSection{
  width: 100%;
  text-align: center;
  overflow: scroll;
  border-bottom: 1px solid #ddd;
}

.gridTitle{
  padding:30px 50px;
  font-size: 20px;
    font-weight: bold;
}
.input{
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #999;
  padding: 0 10px;
  outline: 0;
  height: 40px;
  width: 150px;
    font-size: 16px;
}
.users{
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.searchuser{
  text-align: center;
  padding: 20px 5px;
}
.column{
  float: left;
  width: 50%;
  padding: 20px;
}

.column span img {
  margin-bottom: 12px;
  width:100%;
  box-shadow: #ddd 1px 1px 2px 2px;
  transition: transform .3s;
}

.column span img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

.imageContainer
{
  width:90%;
margin: 0 auto;
}

.footer{
  text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.link{
  color: #3FA4AD;
  margin: 0 20px;
  text-decoration: none
}

.link:hover{
  text-decoration: underline
}

.users:hover{
  color: #3FA4AD;
}
.users:visited{
  color: red;
}

@media screen and (max-height: 650px) {
  .container
  {
    height: 400px;
  }
}
